In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
a=[1,3,4,5,7,8]

In [13]:
for i in a:
    print (i)

1
3
4
5
7
8

In [14]:
s="python"

In [15]:
#"No{} and {}".format(a,b)

In [16]:
# f"No{a} and {b}

In [17]:
a=5
b=6

In [18]:
f"No{a} and {b}"

'No5 and 6'

In [19]:
a = 2*1

In [20]:
a

2

In [64]:
for i in range(1,6):
    print(f"table of {i} =", end'')
    for j in range(1,11):
        print(f" {i} * {j} = {i*j}")

SyntaxError: invalid syntax (<ipython-input-64-07b6fd8a6bc9>, line 2)

In [ ]:
a =