snakecase for function name
def function_name():
    return

In [1]:
def is_odd(x):
    if x%2==1:
        return True
    else:
        return False

In [2]:
is_odd(4)

False

In [11]:
def is_odd(x):
    if x%2==1:
        return True
    return False   
#else step hatako / number of code reduce garya

In [12]:
is_odd(4)

False

In [13]:
def squr(x):
    x=x*x
    return x

In [14]:
squr(2)

4

In [15]:
#spacing==indentation(4space/1tab=indentation)

In [18]:
def square(x):
    return x**2 #(** vanya chai power dini ho kei diyena vani chai varaible ko power hunxa)

In [19]:
square(5)

25

# MAPS

In [20]:
map (square, range(5,15))

In [21]:
a=map (square, range(5,15))

In [22]:
for i in a:
    print (i)

25
36
49
64
81
100
121
144
169
196

In [23]:
a

In [36]:
print(a)

<filter object at 0x0000013716221040>

In [37]:
a= map(lambda x : x**2, range(5,10))

In [38]:
list(a)

[25, 36, 49, 64, 81]

# Filter

In [33]:
a = filter(is_odd,range(1,6))

In [34]:
list(a)

[1, 3, 5]

In [40]:
list(filter(lambda x : x%2==1, range(5,10)))

[5, 7, 9]

In [6]:
list(map(lambda x : x**2,filter(lambda x : x%2==1, range(5,10)))) 
#using both map and filter

[25, 49, 81]

# Reduce

In [1]:
def mul (x,y):
    return x*y

In [4]:
from functools import reduce

In [5]:
reduce(mul,[1,2,3,4])

24